@model RamosJ_LigaPro.Models.Jugador
@{
    ViewData["Title"] = "Editar Jugador";
}

<h2>Editar Jugador</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Dorsal" class="control-label"></label>
        <input asp-for="Dorsal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Goles" class="control-label"></label>
        <input asp-for="Goles" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Asistencias" class="control-label"></label>
        <input asp-for="Asistencias" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PartidosJugados" class="control-label"></label>
        <input asp-for="PartidosJugados" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Sueldo" class="control-label"></label>
        <input asp-for="Sueldo" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
